{% extends 'foundation_5_layout.html.twig' %}

{% block single_choice_radio_row %}
    <section class="container center">
        <h5 class="my-5">
            question
        </h5>
    </section>
        <p>
            <label>
                <input name="group1" type="radio" checked class="with-gap" />
                <span>Red</span>
            </label>
        </p>
{% endblock %}
