<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('b4.default') }}
    </head>
    <body>
        <div class="d-flex align-items-center min-vh-100">
            <div class="container text-center">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
