:root {
    --primary: #e1f7d5;
    --primary-800: #e3f1dc;
    --secondary: #ffbdbd;
    --secondary-800: #ffcece;
    --light: #c9c9ff;
    --info: #f1cbff;
}

footer {
    background-color: var(--light);
}

footer .progress {
    background-color: var(--white);
}

footer .progress-bar {
    background-color: var(--secondary);
}

.custom-radio-filled .custom-control-input:checked~.custom-control-label,
.custom-checkbox-filled .custom-control-input:checked~.custom-control-label {
    background: var(--primary);
    color: var(--gray-dark);
}


.custom-radio-filled .custom-control-label,
.custom-checkbox-filled .custom-control-label {
    background: var(--light)
}

.btn-primary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}


.btn-outline-primary {
    border-color: var(--secondary);
    color: var(--gray-dark);
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: var(--secondary-800);
    border-color: var(--secondary-800);
}

.matrix tbody tr:nth-of-type(odd) {
    background: var(--primary);
}

.matrix tbody tr:nth-of-type(even) {
    background: var(--primary-800);
}