{% extends '/materialize/layout/base.twig' %}

{% block title %}Syno Storm{% endblock %}

{% block body %}

    <main class="container announcement_container">
        <header class="pt-5">
            <img class="synoint_logo" src="{{ asset('build/images/syno_logo.png') }}" alt="synoint" />
        </header>
        <div class="col s6 offset-s3" style="text-align: center; margin-top: 150px">
            <h2 class="mt-5">
                Welcome to Syno Storm
            </h2>
            <p>Survey tool by <a href="https://www.synoint.com">Syno International</a> </p>
        </div>
    </main>

{% endblock %}
