files:
  "/etc/php.d/41-redis.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      extension="redis.so"
commands:
  01_install_redis:
    command:  /usr/bin/yes 'no' | /usr/bin/pecl install redis
    ignoreErrors: true

  02_rmfromphpini:
    command: /bin/sed -i -e '/extension="redis.so"/d' /etc/php.ini
packages:
  yum:
    newrelic-php5: [ ]
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
