files:
  "/etc/php.d/newrelic.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      extension = "newrelic.so"
      [newrelic]
      newrelic.license = "_THIS_KEY_IS_REPLACED_DURING_DEPLOYMENT_"
      newrelic.logfile = "/var/log/newrelic/php_agent.log"
      newrelic.appname = "Syno Survey"
      newrelic.daemon.logfile = "/var/log/newrelic/newrelic-daemon.log"
      newrelic.daemon.utilization.detect_azure = false
      newrelic.daemon.utilization.detect_gcp = false
      newrelic.daemon.utilization.detect_pcf = false
      newrelic.daemon.utilization.detect_docker = false
      newrelic.error_collector.ignore_exceptions = "Symfony\Component\HttpKernel\Exception\NotFoundHttpException"
      newrelic.error_collector.record_database_errors = true
      newrelic.framework.drupal.modules = false
      newrelic.framework.wordpress.hooks = false

container_commands:

  070_remove_newrelic_from_test:
    test: '[ "${APP_ENV}" == "test" ]'
    ignoreErrors: true
    command: yum remove -y newrelic*

  071_install_newrelic:
    test: '[ "${APP_ENV}" == "prod" ]'
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: _THIS_KEY_IS_REPLACED_DURING_DEPLOYMENT_
