container_commands:
  091_dump_composer_autoload_on_test:
    test: '[ "${APP_ENV}" == "test" ]'
    command: sudo -u webapp /usr/bin/composer.phar --no-cache -o dump-autoload

  092_dump_composer_autoload_on_prod:
    test: '[ "${APP_ENV}" == "prod" ]'
    command: sudo -u webapp /usr/bin/composer.phar --no-cache -o --no-dev dump-autoload
