commands:
    601_install_igbinary:
        command: pecl install igbinary
        test: '[ ! -e "/etc/php.d/50-igbinary.ini" ]'
    602_remove_extension:
        command: /bin/sed -i -e '/extension="igbinary.so"/d' /etc/php.ini
    603_create_conf:
        command: /bin/echo 'extension="igbinary.so"' > /etc/php.d/50-igbinary.ini
