commands:
    610_install_apcu:
        command: /usr/bin/yes 'no' | /usr/bin/pecl install apcu
        test: '! /usr/bin/pecl info apcu'
    611_remove_extension:
        command: /bin/sed -i -e '/extension="apcu.so"/d' /etc/php.ini
    612_create_conf:
        command: /bin/echo 'extension="apcu.so"' > /etc/php.d/50-apcu.ini
