commands:
    01_install_apcu:
        command: pecl install --configureoptions='enable-redis-igbinary="yes" enable-redis-lzf="no" enable-redis-zstd="no" enable-redis-msgpack="no" enable-redis-lz4="no" with-liblz4="yes"' redis
        test: '! /usr/bin/pecl info redis'
    02_remove_extension:
        command: /bin/sed -i -e '/extension="redis.so"/d' /etc/php.ini
    03_create_conf:
        command: /bin/echo 'extension="redis.so"' > /etc/php.d/50-redis.ini
