commands:
    01_install_apcu:
        command: pecl install --configureoptions='enable-mongodb-developer-flags="no" enable-mongodb-coverage="no" with-mongodb-system-libs="no" with-mongodb-client-side-encryption="auto" with-mongodb-snappy="auto" with-mongodb-zlib="auto" with-mongodb-zstd="auto" with-mongodb-sasl="auto" with-mongodb-ssl="auto" enable-mongodb-crypto-system-profile="no" with-mongodb-utf8proc="bundled"' mongodb
        test: '! /usr/bin/pecl info mongodb'
    02_remove_extension:
        command: /bin/sed -i -e '/extension="mongodb.so"/d' /etc/php.ini
    03_create_conf:
        command: /bin/echo 'extension="mongodb.so"' > /etc/php.d/50-mongodb.ini
