files:
    "/etc/php.d/newrelic.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            newrelic.license = "_THIS_KEY_IS_REPLACED_DURING_DEPLOYMENT_"
            newrelic.logfile = "/var/log/newrelic/php_agent.log"
            newrelic.appname = "Syno Survey"
            newrelic.daemon.logfile = "/var/log/newrelic/newrelic-daemon.log"
            newrelic.daemon.utilization.detect_aws = true
            newrelic.daemon.utilization.detect_azure = false
            newrelic.daemon.utilization.detect_gcp = false
            newrelic.daemon.utilization.detect_pcf = false
            newrelic.daemon.utilization.detect_docker = false
            newrelic.daemon.utilization.detect_kubernetes = false
            newrelic.error_collector.ignore_exceptions = "Symfony\Component\HttpKernel\Exception\NotFoundHttpException,Symfony\Component\Routing\Exception\ResourceNotFoundException"
            newrelic.browser_monitoring.auto_instrument = false
            newrelic.framework = "symfony4"
            newrelic.framework.drupal.modules = false
            newrelic.framework.wordpress.hooks = false

packages:
    rpm:
        newrelic-php5-common: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-php5-common-10.9.0.324-1.noarch.rpm
        newrelic-daemon: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-daemon-10.9.0.324-1.x86_64.rpm
        newrelic-php5: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-php5-10.9.0.324-1.x86_64.rpm
commands:
    660_configure_new_relic:
        command: newrelic-install install
        env:
            NR_INSTALL_SILENT: true
            NR_INSTALL_KEY: _THIS_KEY_IS_REPLACED_DURING_DEPLOYMENT_
    661_rename_config_file:
        command: /usr/bin/mv /etc/php.d/newrelic.ini /etc/php.d/50-newrelic.ini
