files:
    "/etc/newrelic-infra.yml" :
        mode: "000644"
        owner: root
        group: root
        content: |
            license_key: _THIS_KEY_IS_REPLACED_DURING_DEPLOYMENT_

commands:
    # Create the agent’s yum repository
    "670_agent-repository":
        command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/2023/x86_64/newrelic-infra.repo
    #
    # Update your yum cache
    "671_update-yum-cache":
        command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
    #
    # Run the installation script
    "672_run-installation-script":
        command: sudo yum install newrelic-infra -y
