container_commands:
  90_dump_composer_autoload_on_test:
    test: '[ "${APP_ENV}" == "test" ]'
    command: sudo -u webapp /usr/bin/composer.phar --no-cache -o dump-autoload

  91_dump_composer_autoload_on_prod:
    test: '[ "${APP_ENV}" == "prod" ]'
    command: sudo -u webapp /usr/bin/composer.phar --no-cache --no-dev --classmap-authoritative dump-autoload
