<footer>
    <div class="logo_container">
        <p>Powered by</p>
        <img src="{{ asset('build/images/syno_white.png') }}" alt="Syno logo white">
    </div>
    <div class="progress">
        <div class="determinate" id="progress" style="width: 10%"></div>
    </div>
</footer>
