{% extends '/materialize/layout/base.twig' %}

{% block title %}Survey completed!{% endblock %}

{% block body %}

    <main class="container final-container w-90">
        <section class="container">
            <div class="container pt-5">
                <h2 class="my-5">
                    Thank you for participating in this survey!
                </h2>
                <p>We truly value the information you have provided, your feedback will help us create more
                    relevant products
                    for you in the future.</p>

                <p>Again, we thank you for taking the time to share your honest opinion.</p>
            </div>
        </section>
    </main>

{% endblock %}
