:root {
    --primary: #e10037;
    --light: #fff;
    --info: #be0091;
    --white: #fff;
    --muted: #a1a1a1;
    --dark: #000;
}

footer {
    background-color: #b41432;
}

footer .progress-bar {
    background-color: #FFF;
}

footer .progress {
    background-color: var(--white);
}


.btn-primary {
    background-color: #e10037;
    border: 1px solid #e10037;
    font-weight: bold;
}

.btn-outline-primary {
    border: 1px solid #e10037;
    color: #e10037;
}


.btn-primary:hover {
    background-color: #b41432;
    border: 1px solid #b41432;
    color: #FFF;
}

.btn-outline-primary:hover {
    background-color: #e10037;
    color: var(--white);
}

.linear-scale__button {
    border: 1px solid var(--light);
    background: var(--light);
}

.linear-scale__button:hover,
.linear-scale__button.active {
    color: var(--white);
}


.custom-radio-filled .custom-control-input:checked~.custom-control-label,
.custom-checkbox-filled .custom-control-input:checked~.custom-control-label {
    background: #e10037;
    color: var(--white);
}

.custom-control-input:checked~.custom-control-label::before {
    color: var(--secondary);
    border-color: var(--white);
    background-color: var(--white);
}

.custom-radio-filled .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e") !important;
}

.custom-checkbox-filled .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-radio-filled .custom-control-label,
.custom-checkbox-filled .custom-control-label {
    background: #FFF;
    color: var(--dark);
}

@media (min-width: 768px) {
    .matrix tbody th {
        border-bottom: 1px solid var(--white);
    }

    .matrix tbody td {
        border-left: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    .matrix thead th {
        font-size: 14px;
    }

    .custom-control-input:checked~.custom-control-label::before {
        border-color: var(--secondary);
        background-color: var(--white);
    }


    .matrix tbody tr:nth-of-type(odd) {
        background: var(--light);
    }

    .matrix tbody tr:nth-of-type(even) {
        background: var(--muted);
    }

    .custom-radio-filled-md-center .form-check,
    .custom-checkbox-filled-md-center .form-check {
        margin: 0;
        text-indent: -9999px;
    }

}
