div.sss-survey-container {
    border: 0;
    margin: 0;
    padding: 0;
    float: none;
    font-weight: normal;
    height: auto;
    box-sizing: border-box;
    font-family: Arial, sans-serif, Tahoma !important;
    text-transform: initial !important;
    letter-spacing: normal !important;
}

div.sss-invitation-container {
    position: fixed;
    right: 5px;
    left: 5px;
    bottom: 0;
    font-size: 13px !important;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 30%) !important;
    z-index: 2147483647;
}

@media screen and (min-width: 420px) {
    div.sss-invitation-container {
        right: 5px;
        left: initial;
        max-width: 350px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    div.sss-invitation-container {
        right: 75px;
    }
}

.sss-collapse-button {
    background: rgb(51, 51, 51);
    text-align: center;
    position: absolute;
    top: -20px;
    right: 25px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    border: 0.5px solid rgb(120, 120, 120);
}

.sss-collapse-button-icon {
    color: rgb(255, 255, 255);
}

.sss-close-button {
    background: rgb(51, 51, 51);
    text-align: center;
    position: absolute;
    top: -20px;
    right: 0;
    width: 25px;
    height: 20px;
    cursor: pointer;
    border: 0.5px solid rgb(120, 120, 120);
}

.sss-close-button-icon {
    color: rgb(255, 255, 255);
}

.sss-invitation-form {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    float: none !important;
}

.sss-info-text {
    color: #fff !important;
    font-weight: bold !important;
    text-align: center;
    padding: 12px;
    margin: 0;
    line-height: 17px !important;
    min-height: 17px;
    word-break: break-word;
    word-wrap: break-word;
}

.sss-info-text-hint {
    color: rgb(204, 204, 204) !important;
    padding: 0 12px 12px;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

div.sss-support-text-container {
    width: 100%;
    border-top: 1px solid;
    padding: 6px;
    box-sizing: border-box;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.sss-support-text-container a{
    color: rgb(204, 204, 204) !important;
    padding: 0 12px 12px;
}

div.sss-action-container {
    border-top-color: rgb(26, 26, 26) !important;
    width: 100%;
    border-top: 1px solid;
    padding: 6px;
    box-sizing: border-box;
}

.sss-action-button {
    font-size: 13px !important;
    font-weight: bold !important;
    padding: 7px 10px !important;
    border: 0 !important;
    outline: 0 !important;
    min-height: initial !important;
    width: auto !important;
    min-width: initial !important;
    zoom: 1;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.sss-action-button:hover {
    filter: brightness(85%);
}
.sss-action-button:active {
    filter: brightness(120%);
}

.sss-action-button-icon {
    margin-left: 8px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block !important;
    zoom: 1;
    vertical-align: middle;
}

.sss-survey-iframe-container {
    display: none;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 30%) !important;
    border-radius: 5px 5px 0 0;
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
    overflow: hidden;
}
