{% extends '/b4/layout/base.twig' %}

{% block title %}Syno Storm{% endblock %}

{% block body %}

    <main class="container">
        <header>
            <img class="synoint_logo" src="{{ asset('build/images/syno_logo.png') }}" alt="synoint" />
        </header>
        <div class="col-6 offset-3 text-center">
            <h1 class="display-4 mt-5">
                Syno Storm
            </h1>
            <p class="mt-4">Next generation survey tool by <a href="https://www.synoint.com">Syno International</a> </p>
        </div>
    </main>

{% endblock %}
