<nav id="debug__block" class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid border-top">
        <div class="col-6">
            <h5>DEBUG MODE.</h5>
            <h5>QUESTION CODES AND BACK BUTTON ARE ALWAYS VISIBLE IN THE TEST MODE.</h5>
        </div>
        <div class="col-6">
            <div class="form-group pt-3">
                <label for="debugPage">Jump to page:</label>
                <select class="form-control" id="debugPage" onchange="window.location.href=this.options[this.selectedIndex].value">
                    {% for surveyPage in survey.pages %}
                        <option value="{{ path('page.index', {surveyId: survey.surveyId, pageId: surveyPage.pageId}) }}"
                                {% if page.id == surveyPage.id  %}selected="selected"{% endif %}>
                            {{ surveyPage.code }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</nav>

{% block javascripts %}
    {{ encore_entry_script_tags('b4.page.debug') }}
{% endblock %}
