<footer>
    <div class="card-footer">
        <div class="position-absolute d-none d-lg-block d-xl-block">
            <p class="text-white powered-by">Powered by</p>
            <img src="{{ asset('build/images/syno_white.png') }}" alt="Syno International Logo - White"
                 class="position-absolute ml-3 footer-logo">
        </div>
        <div class="container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ survey_progress(response, survey) }}%;"
                     aria-valuenow="{{ survey_progress(response, survey) }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</footer>
