<p>
    {{ question.text }}
</p>

<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <td>&nbsp;</td>
            {% for column in question.getColumns() %}
                <th scope="col">
                    {{ column }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for rowCode,rowLabel in question.getRows() %}
            <tr>
                <th scope="row">{{ rowLabel }}</th>
                {% for child in attribute(form, ('q_' ~ rowCode)) %}
                    <td>{{ form_widget(child, {'label' : false}) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
