<footer>
    <div class="position-absolute">
        <p class="mt-2 text-white powered-by">Powered by</p>
        <img src="{{ asset('build/images/syno_white.png') }}" alt="Syno International Logo - White" class="position-absolute ml-3 footer-logo">
    </div>
    <div class="container">
        <h4 class="text-white-50 text-center pt-2 test-mode-footer-text">TEST MODE. QUESTION CODES AND BACK BUTTON ARE ALWAYS VISIBLE IN THE TEST MODE.</h4>
    </div>
</footer>

<style>
  footer {
    display: block !important;
    height: auto !important;
  }

  @media only screen and (max-width: 600px) {
    footer .container {
      width: 80%;
      padding-right: 15px;
      margin-right: 0;
    }
    
    h2 {
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    h2 {
      font-size: 1.5rem;
    }
  }
</style>
