{% extends '/b4/layout/base.twig' %}

{% block title %}{{ 'error_page.page_title'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="text-center">
            <svg id="i-alert" class="text-danger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M16 3 L30 29 2 29 Z M16 11 L16 19 M16 23 L16 25" />
            </svg>
            <h1 class="my-5 display-4">
                {{ 'error_page.oops'|trans }}
            </h1>
            <p>{{ 'error_page.page_unavailable'|trans }}</p>
        </div>
    </div>

{% endblock %}
